{% extends 'base.html' %}
{% load static%}


{% block extra_head %}
<link rel="stylesheet" id="bg-switcher-css" href="{% static 'webapp/assets/css/backgrounds/bg-4.css' %}">
<link rel="stylesheet" href="{% static 'webapp/assets/css/style.css' %}" />
<link rel="stylesheet" href="{% static 'webapp/assets/css/responsive.css' %}" />
{% endblock %}



{% block content %}



<!-- ekka Cart Start -->
<div class="ec-side-cart-overlay"></div>

<!-- Ec breadcrumb start -->
<div class="sticky-header-next-sec  ec-breadcrumb section-space-mb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row ec_breadcrumb_inner">
                    <div class="col-md-6 col-sm-12">
                        <h2 class="ec-breadcrumb-title">Login</h2>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <!-- ec-breadcrumb-list start -->
                        <ul class="ec-breadcrumb-list">
                            <li class="ec-breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                            <li class="ec-breadcrumb-item active">Login</li>
                        </ul>
                        <!-- ec-breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Ec breadcrumb end -->

<!-- Ec login page -->
<section class="ec-page-content section-space-p">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">
                    <h2 class="ec-bg-title">Log In</h2>
                    <h2 class="ec-title">Reset Password</h2>
                    <p class="sub-title mb-3">Reset your password here</p>
                </div>
            </div>
            <div class="ec-login-wrapper">
                <div class="ec-login-container">
                    <div class="ec-login-form">
                        {% include 'includes/alerts.html' %}
                        <form action="#" method="post">
                            {% csrf_token %}
                            <span class="ec-login-wrap">
                                <label>Password*</label>
                                <input type="password" name="password" placeholder="Enter your new password" required />
                            </span>
                            <span class="ec-login-wrap">
                                <label>Password*</label>
                                <input type="text" name="confirm_password" placeholder="Confrim your new password" required />
                            </span>
                            
                            <span class="ec-login-wrap ec-login-btn">
                                <button class=" rounded-3 btn btn-danger rounded-3" type="submit" style="text-decoration:none;">Reset </button>
                                
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>


    
    
    {% endblock %}