USE [DataWarehouse]
GO
/****** Object:  StoredProcedure [dbo].[TransformBronzeSaleOrderProductToSilver]    Script Date: 6/17/2025 8:30:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[TransformBronzeSaleOrderProductToSilver]
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        WITH Deduplicated AS (
            SELECT *, ROW_NUMBER() OVER (PARTITION BY order_product_id ORDER BY load_time DESC) AS rn
            FROM bronze.sale_order_product
            WHERE order_product_id IS NOT NULL
        )
        INSERT INTO silver.sale_order_product
        SELECT 
            order_product_id,
            order_id,
            user_id,
            product_id,
            quantity,
            product_price,
            discount_amount,
            CAST(ordered AS BIT),
            payment_id,
            TRY_CAST(created_at AS DATETIME),
            TRY_CAST(updated_at AS DATETIME),
            COALESCE(load_time, GETDATE())
        FROM Deduplicated d
        WHERE rn = 1
        AND NOT EXISTS (
            SELECT 1 
            FROM silver.sale_order_product s 
            WHERE s.product_id = d.product_id
        );;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
