USE [DataWarehouse]
GO
/****** Object:  StoredProcedure [dbo].[TransformCustInfoBronzeToSilver]    Script Date: 6/17/2025 8:34:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[TransformCustInfoBronzeToSilver]
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Step 1: Direct insert with deduplication and duplicate handling
        INSERT INTO silver.crm_cust_info (
            cst_id,
            cst_username,
            cst_email,
            cst_fullname,
            cst_phone_number,
            cst_date_joined,
            cst_last_login,
            profile_picture,
            bio,
            date_of_birth,
            sex,
            city,
            district,
            ward,
            road,
            load_time
        )
        SELECT
            c.cst_id,
            c.cst_username,
            c.cst_email,
            c.cst_fullname,
            c.cst_phone_number,
            c.cst_date_joined,
            c.cst_last_login,
            c.profile_picture,
            c.bio,
            c.date_of_birth,
            c.sex,
            c.city,
            c.district,
            c.ward,
            c.road,
            c.load_time
        FROM (
            SELECT
                TRY_CAST(cst_id AS BIGINT) AS cst_id,
                LTRIM(RTRIM(LOWER(cst_username))) AS cst_username,
                LTRIM(RTRIM(LOWER(cst_email))) AS cst_email,
                LTRIM(RTRIM(cst_fullname)) AS cst_fullname,
                REPLACE(REPLACE(REPLACE(cst_phone_number, '-', ''), ' ', ''), '.', '') AS cst_phone_number,
                TRY_CAST(cst_date_joined AS DATETIME) AS cst_date_joined,
                TRY_CAST(cst_last_login AS DATETIME) AS cst_last_login,
                NULLIF(LTRIM(RTRIM(profile_picture)), '') AS profile_picture,
                NULLIF(LTRIM(RTRIM(bio)), '') AS bio,
                TRY_CAST(date_of_birth AS DATE) AS date_of_birth,
                CASE 
                    WHEN LOWER(sex) IN ('male', 'm', 'Nam') THEN 'Male'
                    WHEN LOWER(sex) IN ('female', 'f', 'Nữ') THEN 'Female'
                    ELSE 'Other'
                END AS sex,
                LTRIM(RTRIM(city)) AS city,
                LTRIM(RTRIM(district)) AS district,
                LTRIM(RTRIM(ward)) AS ward,
                LTRIM(RTRIM(road)) AS road,
                GETDATE() AS load_time,
                ROW_NUMBER() OVER (PARTITION BY TRY_CAST(cst_id AS BIGINT) ORDER BY GETDATE() DESC) AS rn
            FROM bronze.crm_cust_info
            WHERE cst_id IS NOT NULL
        ) c
        WHERE c.rn = 1
        AND NOT EXISTS (
            SELECT 1 
            FROM silver.crm_cust_info si 
            WHERE si.cst_id = c.cst_id
        );

    END TRY
    BEGIN CATCH
        DECLARE @msg NVARCHAR(MAX) = ERROR_MESSAGE();
        RAISERROR('Transform failed: %s', 16, 1, @msg);
    END CATCH
END;