<!DOCTYPE html>
{% load static %}
{% load rating_tags %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>Ekka</title>
    <meta name="keywords"
          content="apparel, catalog, clean, ecommerce, ecommerce HTML, electronics, fashion, html eCommerce, html store, minimal, multipurpose, multipurpose ecommerce, online store, responsive ecommerce template, shops"/>
    <meta name="description" content="EKKA: Your One-Stop Shop for Everything">

    <!-- site Favicon -->
    <link rel="icon" href="{% static 'webapp/assets/images/favicon/favicon.png' %}" sizes="32x32"/>
    <link rel="apple-touch-icon" href="{% static 'webapp/assets/images/favicon/favicon-8.png' %}"/>
    <meta name="msapplication-TileImage" content="{% static 'webapp/assets/images/favicon/favicon-8.png' %}"/>

    <!-- css Icon Font -->
    <link rel="stylesheet" href="{% static 'webapp/assets/css/vendor/ecicons.min.css' %}"/>

    <!-- css All Plugins Files -->
    <link rel="stylesheet" href="{% static 'webapp/assets/css/plugins/animate.css' %}"/>
    <link rel="stylesheet" href="{% static 'webapp/assets/css/plugins/swiper-bundle.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'webapp/assets/css/plugins/jquery-ui.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'webapp/assets/css/plugins/countdownTimer.css' %}"/>
    <link rel="stylesheet" href="{% static 'webapp/assets/css/plugins/slick.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'webapp/assets/css/plugins/nouislider.css' %}"/>
    <link rel="stylesheet" href="{% static 'webapp/assets/css/plugins/bootstrap.css' %}"/>

    <!-- Main Style -->
    <link rel="stylesheet" href="{% static 'webapp/assets/css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'webapp/assets/css/responsive.css' %}"/>

    <!-- Background css -->
    <link rel="stylesheet" id="bg-switcher-css" href="{% static 'webapp/assets/css/backgrounds/bg-4.css' %}">

</head>
<body class="checkout_page">
<div id="ec-overlay"><span class="loader_img"></span></div>

{% include 'includes/navbar.html' %}

<!-- ekka Cart Start -->


<!-- Ec breadcrumb start -->
<div class="sticky-header-next-sec  ec-breadcrumb section-space-mb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row ec_breadcrumb_inner">
                    <div class="col-md-6 col-sm-12">
                        <h2 class="ec-breadcrumb-title">Checkout</h2>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <!-- ec-breadcrumb-list start -->
                        <ul class="ec-breadcrumb-list">
                            <li class="ec-breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                            <li class="ec-breadcrumb-item active">Checkout</li>
                        </ul>
                        <!-- ec-breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Ec breadcrumb end -->

<!-- Ec checkout page -->
<section class="ec-page-content section-space-p">
    <div class="container">
        <form action="{% url 'place_order' %}" method="POST">
            <div class="row">
                {% csrf_token %}
                <div class="ec-checkout-leftside col-lg-4 col-md-12">
                    <div class="ec-sidebar-wrap">
                        <!-- Sidebar Summary Block -->
                        <div class="ec-sidebar-block">
                            <div class="ec-sb-title">
                                <h3 class="ec-sidebar-title">Summary</h3>
                            </div>
                            <div class="ec-sb-block-content">
                                <div class="ec-cart-summary-bottom">
                                    <div class="ec-cart-summary">
                                        <div>
                                            <span class="text-left">Sub-Total</span>
                                            <span class="text-right">{{ total }}$</span>
                                        </div>
                                        <div>
                                            <span class="text-left">Taxs Charge ( {{ tax_percentage }}% )</span>
                                            <span class="text-right">{{ tax }}$</span>
                                        </div>

                                        <div>
                                            <span class="text-left">Coupan Discount</span>
                                            <span class="text-right"><a class="ec-cart-coupan">Apply Coupan</a></span>
                                        </div>
                                        <div class="ec-cart-coupan-content">
                                            <div class="ec-cart-coupan-form" name="ec-cart-coupan-form">
                                                <input class="ec-coupan" type="text"
                                                       placeholder="Enter Your Coupan Code" name="ec-coupan" value="">
                                                <button class=" rounded-3 ec-coupan-btn button btn-primary"
                                                        type="submit"
                                                        name="subscribe" value="">Apply
                                                </button>
                                            </div>
                                        </div>
                                        <div class="ec-cart-summary-total">
                                            <span class="text-left">Total Amount</span>
                                            <span class="text-right"><b>{{ grand_total }}$</b></span>
                                        </div>
                                    </div>

                                </div>
                                <div class="ec-checkout-pro">
                                    {% for cart_item in cart_items %}
                                        <div class="col-sm-12 mb-6">
                                            <div class="ec-product-inner">
                                                <div class="ec-pro-image-outer">
                                                    <div class="ec-pro-image">
                                                        <a href="
                                                                
                                                                {{ cart_item.product.category_main.get_url }}{{ cart_item.product.sub_category.slug }}/{{ cart_item.product.slug }}"
                                                           class="image">
                                                            <img class="main-image"
                                                                    {% for image in cart_item.product.images.all %}
                                                                        {% if image.image_type == "default" %}
                                                                 src="{{ image.image_url }}" >
                                                                        {% endif %}
                                                                    {% endfor %}
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="ec-pro-content">
                                                    <h5 class="ec-pro-title"><a href="{{ cart_item.product.category_main.get_url }}{{ cart_item.product.sub_category.slug }}/{{ cart_item.product.slug }}">{{ cart_item.product.product_name }}</a>
                                                    </h5>
                                                    <div>
                                                        <b>Quantity</b>: {{ cart_item.quantity }}
                                                    </div>
                                                    {% if cart_item.variations.all %}
                                                        {% for item in cart_item.variations.all %}
                                                            <div>
                                                                <b>{{ item.Variation_category }}</b>
                                                                : {{ item.Variation_value }}<br>

                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}

                                                    <br>
                                                    <div class="ec-pro-rating">
                                                        {% render_stars cart_item.product.rating %}
                                                    </div>
                                                    <span class="ec-price">
                                                   <span class="old-price">{{ cart_item.product.mrp_price }}$</span> 
                                                   <span class="new-price">{{ cart_item.product.price }}$</span>
                                               </span>

                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <!-- Sidebar Summary Block -->
                    </div>
                    <!-- Sidebar Payment Block -->
                </div>

                <div class="ec-checkout-rightside col-lg-8 col-md-12 ">
                    <!-- checkout content Start -->
                    <div class="ec-checkout-content">
                        <div class="ec-checkout-inner">
                            <div class="ec-checkout-wrap margin-bottom-30 padding-bottom-3">
                                <div class="ec-checkout-block ec-check-bill">
                                    <h3 class="ec-checkout-title">Billing Details</h3>
                                    <div class="ec-bl-block-content">
                                        <div class="ec-check-bill-form">
                                            <div class="row">
                                                <span class="ec-bill-wrap ec-bill-half col-lg-12">
                                                       <label for="full_name">Full Name*</label>
                                                       <input type="text" name="full_name" id="full_name"
                                                              placeholder="Enter your full name" value ="{{ request.user.full_name }}" required/>
                                                </span>

                                                <span class="ec-bill-wrap ec-bill-half col-md-6">
                                                        <label for="email">Email*</label>
                                                        <input type="email" name="email" id='email' value="{{ request.user.email }}" placeholder="Enter your email"
                                                               required/>
                                                    </span>

                                                <span class="ec-bill-wrap ec-bill-half col-md-6">
                                                         <label for="phone">Phone*</label>
                                                         <input type="text" name="phone" id="phone" value="{{ request.user.phone_number }}" placeholder="Enter your phone"
                                                                required/>
                                                    </span>

                                                <span class="ec-bill-wrap ec-bill-half col-md-6">
                                                       <label for="city">City</label>
                                                            <select class="form-control" id="city" name="city" required>
                                                                 <option value="{{ profile.city }}"
                                                                         selected>{{ profile.city_name }}</option>
                                                             </select>
                                                   </span>

                                                <span class="ec-bill-wrap ec-bill-half col-md-6">
                                                    <label for="district">District</label>
                                                     <select class="form-control border-1" id="district"
                                                             name="district"
                                                             required>
                                                         <option value="{{ profile.district }}"
                                                                 selected>{{ profile.district_name }}</option>
                                                     </select>
                                                </span>

                                                <span class="ec-bill-wrap ec-bill-half col-md-6">
                                                    <div class="form-group">
                                                    <label for="ward">Ward</label>
                                                    <select class="form-control" id="ward" name="ward" required>
                                                        <option value="{{ profile.ward }}"
                                                                selected>{{ profile.ward_name }}</option>
                                                    </select>
                                                     </div>
                                                </span>

                                                <span class="ec-bill-wrap ec-bill-half col-md-6">
                                                   <label for="road">Road</label>
                                                    <input type="text" class="form-control" id="road"
                                                           value="{{ profile.road }}"
                                                           name="road" required>
                                                </span>

                                                <span class="ec-bill-wrap ec-bill-half col-md-6">
                                                    <label for="order_note">Order Notes</label>
                                                    <input type="text" name="order_note" id="order_note"
                                                           placeholder="Add Comments About Your Order"/>
                                                </span>

                                                <span class="ec-bill-wrap ec-bill-half col-md-6">
                                                     <div class="form-group">
                                                        <label for="payment_method">Payment Method</label>
                                                        <select class="form-control" name="payment_method"
                                                                id="payment_method" required>
                                                            <option value="VNPAY">VNPAY</option>
                                                            <option value="COD">COD</option>
                                                        </select>
                                                     </div>
                                                 </span>
                                                <span class="ec-bill-wrap ec-bill-half col-md-6 bank-code">
                                                      <div class="form-group ">
                                                            <label for="bank_code">Bank Code</label>
                                                            <select name="bank_code" id="bank_code" class="form-control">
                                                                <option value="">Không chọn</option>
                                                                <option value="NCB"> Ngân hàng NCB</option>
                                                                <option value="AGRIBANK"> Ngân hàng Agribank</option>
                                                                <option value="SCB"> Ngân hàng SCB</option>
                                                                <option value="SACOMBANK">Ngân hàng SacomBank</option>
                                                                <option value="EXIMBANK"> Ngân hàng EximBank</option>
                                                                <option value="MSBANK"> Ngân hàng MSBANK</option>
                                                                <option value="NAMABANK"> Ngân hàng NamABank</option>
                                                                <option value="VNMART"> Ví điện tử VnMart</option>
                                                                <option value="VIETINBANK">Ngân hàng Vietinbank</option>
                                                                <option value="VIETCOMBANK"> Ngân hàng VCB</option>
                                                                <option value="HDBANK">Ngân hàng HDBank</option>
                                                                <option value="DONGABANK"> Ngân hàng Dong A</option>
                                                                <option value="TPBANK"> Ngân hàng TPBank</option>
                                                                <option value="OJB"> Ngân hàng OceanBank</option>
                                                                <option value="BIDV"> Ngân hàng BIDV</option>
                                                                <option value="TECHCOMBANK"> Ngân hàng Techcombank</option>
                                                                <option value="VPBANK"> Ngân hàng VPBank</option>
                                                                <option value="MBBANK"> Ngân hàng MBBank</option>
                                                                <option value="ACB"> Ngân hàng ACB</option>
                                                                <option value="OCB"> Ngân hàng OCB</option>
                                                                <option value="IVB"> Ngân hàng IVB</option>
                                                                <option value="VISA"> Thanh toán qua VISA/MASTER</option>
                                                            </select>
                                                        </div>
                                                </span>
                                            </div>
                                            <span class="btn">
                                                <button type="submit" name="submit" class="btn btn-primary rounded-3">Place Order</button>
                                           </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--cart content End -->
                </div>

            </div>
        </form>
    </div>
</section>

<footer class="ec-footer section-space-mt">
    <div class="footer-container">
        <div class="footer-offer">
            <div class="container">
                <div class="row">
                    <div class="text-center footer-off-msg">
                        <span></span><a href="#" target="_blank"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-top section-space-footer-p">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-lg-3 ec-footer-contact">
                        <div class="ec-footer-widget">
                            <div class="ec-footer-logo"><a href="#"><img
                                    src="{% static 'webapp/assets/images/logo/logo-8.png' %}"
                                    alt=""><img class="dark-footer-logo"
                                                src="{% static 'webapp/assets/images/logo/logo-8.png' %}"
                                                alt="Site Logo" style="display: none;"/></a></div>
                            <h4 class="ec-footer-heading">Contact us</h4>
                            <div class="ec-footer-links">
                                <ul class="align-items-center">
                                    <li class="ec-footer-link">x14, Tan Hung 2, Nam Thang, Tien Hai, Thai Binh.</li>
                                    <li class="ec-footer-link"><span>Call Us:</span><a
                                            href="tel:0387367162">0387367162</a></li>
                                    <li class="ec-footer-link"><span>Email:</span><a
                                            href="mailto:hoangdieu22022002@gmail.com">hoangdieu22022002@gmail.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-2 ec-footer-info">
                        <div class="ec-footer-widget">
                            <h4 class="ec-footer-heading">Information</h4>
                            <div class="ec-footer-links">
                                <ul class="align-items-center">
                                    <li class="ec-footer-link"><a href="https://coderfake.github.io/hoangdieu22/">About
                                        us</a></li>
                                    <li class="ec-footer-link"><a href="faq.html">FAQ</a></li>
                                    <li class="ec-footer-link"><a href="#">Delivery Information</a></li>
                                    <li class="ec-footer-link"><a href="https://www.facebook.com/hoangdieu.22022002">Contact
                                        us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-2 ec-footer-account">
                        <div class="ec-footer-widget">
                            <h4 class="ec-footer-heading">Account</h4>
                            <div class="ec-footer-links">
                                <ul class="align-items-center">
                                    <li class="ec-footer-link"><a href="#">My Account</a></li>
                                    <li class="ec-footer-link"><a href="track-order.html">Order History</a></li>
                                    <li class="ec-footer-link"><a href="#">Wish List</a></li>
                                    <li class="ec-footer-link"><a href="#">Specials</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-2 ec-footer-service">
                        <div class="ec-footer-widget">
                            <h4 class="ec-footer-heading">Services</h4>
                            <div class="ec-footer-links">
                                <ul class="align-items-center">
                                    <li class="ec-footer-link"><a href="#">Discount Returns</a></li>
                                    <li class="ec-footer-link"><a href="#">Policy & policy </a></li>
                                    <li class="ec-footer-link"><a href="#">Customer Service</a></li>
                                    <li class="ec-footer-link"><a href="terms-condition.html">Term & condition</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3 ec-footer-news">
                        <div class="ec-footer-widget">
                            <h4 class="ec-footer-heading">Newsletter</h4>
                            <div class="ec-footer-links">
                                <ul class="align-items-center">
                                    <li class="ec-footer-link">Get instant updates about our new products and
                                        special promos!
                                    </li>
                                </ul>
                                <div class="ec-subscribe-form">
                                    <form id="ec-newsletter-form" name="ec-newsletter-form" method="post"
                                          action="#">
                                        <div id="ec_news_signup" class="ec-form">
                                            <input class="ec-email" type="email" required=""
                                                   placeholder="Enter your email here..." name="ec-email" value=""/>
                                            <button id="ec-news-btn" class="button btn-primary" type="submit"
                                                    name="subscribe" value=""><i class="ecicon eci-paper-plane-o"
                                                                                 aria-hidden="true"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <!-- Footer social Start -->
                    <div class="col text-left footer-bottom-left">
                        <div class="footer-bottom-social">
                            <span class="social-text text-upper">Follow us on:</span>
                            <ul class="mb-0">
                                <li class="list-inline-item"><a class="hdr-facebook"
                                                                href="https://www.facebook.com/hoangdieu.22022002"><i
                                        class="ecicon eci-facebook"></i></a></li>
                                <li class="list-inline-item"><a class="hdr-twitter" href="#"><i
                                        class="ecicon eci-twitter"></i></a></li>
                                <li class="list-inline-item"><a class="hdr-instagram"
                                                                href="https://www.instagram.com/hoang_dieu2202/"><i
                                        class="ecicon eci-instagram"></i></a></li>
                                <li class="list-inline-item"><a class="hdr-linkedin" href="#"><i
                                        class="ecicon eci-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Footer social End -->
                    <!-- Footer Copyright Start -->
                    <div class="col text-center footer-copy">
                        <div class="footer-bottom-copy ">
                            <div class="ec-copy">Copyright © HoangDieu 2024-2025 <a class="site-name text-upper"
                                                                                    href="#">ekka<span>.</span></a>. All
                                Rights Reserved
                            </div>
                        </div>
                    </div>
                    <!-- Footer Copyright End -->
                    <!-- Footer payment -->
                    <div class="col footer-bottom-right">
                        <div class="footer-bottom-payment d-flex justify-content-end">
                            <div class="payment-link">
                                <img src="{% static 'webapp/assets/images/icons/payment.png' %}" alt="">
                            </div>

                        </div>
                    </div>
                    <!-- Footer payment -->
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Modal -->
<div class="modal fade" id="ec_quickview_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="btn-close qty_close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5 col-sm-12 col-xs-12">
                        <!-- Swiper -->
                        <div class="qty-product-cover">
                            <div class="qty-slide">
                                <img class="img-responsive"
                                     src="{% static 'webapp/assets/images/product-image/3_1.jpg' %}" alt="">
                            </div>
                            <div class="qty-slide">
                                <img class="img-responsive"
                                     src="{% static 'webapp/assets/images/product-image/3_2.jpg' %}" alt="">
                            </div>
                            <div class="qty-slide">
                                <img class="img-responsive"
                                     src="{% static 'webapp/assets/images/product-image/3_3.jpg' %}" alt="">
                            </div>
                            <div class="qty-slide">
                                <img class="img-responsive"
                                     src="{% static 'webapp/assets/images/product-image/3_4.jpg' %}" alt="">
                            </div>
                            <div class="qty-slide">
                                <img class="img-responsive"
                                     src="{% static 'webapp/assets/images/product-image/3_5.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="qty-nav-thumb">
                            <div class="qty-slide">
                                <img class="img-responsive"
                                     src="{% static 'webapp/assets/images/product-image/3_1.jpg' %}" alt="">
                            </div>
                            <div class="qty-slide">
                                <img class="img-responsive"
                                     src="{% static 'webapp/assets/images/product-image/3_2.jpg' %}" alt="">
                            </div>
                            <div class="qty-slide">
                                <img class="img-responsive"
                                     src="{% static 'webapp/assets/images/product-image/3_3.jpg' %}" alt="">
                            </div>
                            <div class="qty-slide">
                                <img class="img-responsive"
                                     src="{% static 'webapp/assets/images/product-image/3_4.jpg' %}" alt="">
                            </div>
                            <div class="qty-slide">
                                <img class="img-responsive"
                                     src="{% static 'webapp/assets/images/product-image/3_5.jpg' %}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-12 col-xs-12">
                        <div class="quickview-pro-content">
                            <h5 class="ec-quick-title"><a href="product-left-sidebar.html">Handbag leather purse for
                                women</a>
                            </h5>
                            <div class="ec-quickview-rating">
                                <i class="ecicon eci-star fill"></i>
                                <i class="ecicon eci-star fill"></i>
                                <i class="ecicon eci-star fill"></i>
                                <i class="ecicon eci-star fill"></i>
                                <i class="ecicon eci-star"></i>
                            </div>

                            <div class="ec-quickview-desc">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                                since the 1500s,
                            </div>
                            <div class="ec-quickview-price">
                                <span class="old-price">100.00$</span>
                                <span class="new-price">80.00$</span>
                            </div>

                            <div class="ec-pro-variation">
                                <div class="ec-pro-variation-inner ec-pro-variation-color">
                                    <span>Color</span>
                                    <div class="ec-pro-color">
                                        <ul class="ec-opt-swatch">
                                            <li><span style="background-color:#696d62;"></span></li>
                                            <li><span style="background-color:#d73808;"></span></li>
                                            <li><span style="background-color:#577023;"></span></li>
                                            <li><span style="background-color:#2ea1cd;"></span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="ec-pro-variation-inner ec-pro-variation-size ec-pro-size">
                                    <span>Size</span>
                                    <div class="ec-pro-variation-content">
                                        <ul class="ec-opt-size">
                                            <li class="active"><a href="#" class="ec-opt-sz"
                                                                  data-tooltip="Small">S</a></li>
                                            <li><a href="#" class="ec-opt-sz" data-tooltip="Medium">M</a></li>
                                            <li><a href="#" class="ec-opt-sz" data-tooltip="Large">X</a></li>
                                            <li><a href="#" class="ec-opt-sz" data-tooltip="Extra Large">XL</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="ec-quickview-qty">
                                <div class="qty-plus-minus">
                                    <input class="qty-input" type="text" name="ec_qtybtn" value="1"/>
                                </div>
                                <div class="ec-quickview-cart ">
                                    <button class="btn btn-primary rounded-3"><img
                                            src="{% static 'webapp/assets/images/icons/cart.svg' %}"
                                            class="svg_img pro_svg" alt=""/> Add To Cart
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ec-nav-toolbar">
    <div class="container">
        <div class="ec-nav-panel">
            <div class="ec-nav-panel-icons">
                <a href="#ec-mobile-menu" class="navbar-toggler-btn ec-header-btn ec-side-toggle"><img
                        src="{% static 'webapp/assets/images/icons/menu.svg' %}" class="svg_img header_svg" alt=""/></a>
            </div>
            <div class="ec-nav-panel-icons">
                <a href="#ec-side-cart" class="toggle-cart ec-header-btn ec-side-toggle"><img
                        src="{% static 'webapp/assets/images/icons/cart.svg' %}" class="svg_img header_svg"
                        alt=""/><span
                        class="ec-cart-noti ec-header-count cart-count-lable">3</span></a>
            </div>
            <div class="ec-nav-panel-icons">
                <a href="index.html" class="ec-header-btn"><img src="{% static 'webapp/assets/images/icons/home.svg' %}"
                                                                class="svg_img header_svg" alt="icon"/></a>
            </div>
            <div class="ec-nav-panel-icons">
                <a href="wishlist.html" class="ec-header-btn"><img
                        src="{% static 'webapp/assets/images/icons/wishlist.svg' %}"
                        class="svg_img header_svg" alt="icon"/><span class="ec-cart-noti">4</span></a>
            </div>
            <div class="ec-nav-panel-icons">
                <a href="login.html" class="ec-header-btn"><img src="{% static 'webapp/assets/images/icons/user.svg' %}"
                                                                class="svg_img header_svg" alt="icon"/></a>
            </div>

        </div>
    </div>
</div>
<!-- Footer navigation panel for responsive display end -->

<!-- Cart Floating Button -->
<div class="ec-cart-float">
    <a href="#ec-side-cart" class="ec-header-btn ec-side-toggle">
        <div class="header-icon"><img src="{% static 'webapp/assets/images/icons/cart.svg' %}"
                                      class="svg_img header_svg" alt=""/></div>
        <span class="ec-cart-count cart-count-lable">3</span>
    </a>
</div>
<!-- Cart Floating Button end -->

<!-- Whatsapp -->

<div class="ec-tools-sidebar-overlay"></div>
<div class="ec-tools-sidebar">
    <div class="tool-title">
        <h3>Features</h3>
    </div>
    <a href="#" class="ec-tools-sidebar-toggle in-out">
        <img alt="icon" src="{% static 'webapp/assets/images/common/settings.png' %}"/>
    </a>
    <div class="ec-tools-detail">
        <div class="ec-tools-sidebar-content ec-change-color ec-color-desc">
            <h3>Color Scheme</h3>
            <ul class="bg-panel">
                <li class="active" data-color="01"><a href="#" class="colorcode1"></a></li>
                <li data-color="02"><a href="#" class="colorcode2"></a></li>
                <li data-color="03"><a href="#" class="colorcode3"></a></li>
                <li data-color="04"><a href="#" class="colorcode4"></a></li>
                <li data-color="05"><a href="#" class="colorcode5"></a></li>
            </ul>
        </div>
        <div class="ec-tools-sidebar-content">
            <h3>Backgrounds</h3>
            <ul class="bg-panel">
                <li class="bg"><a class="back-bg-1" id="bg-1">Background-1</a></li>
                <li class="bg"><a class="back-bg-2" id="bg-2">Background-2</a></li>
                <li class="bg"><a class="back-bg-3" id="bg-3">Background-3</a></li>
                <li class="bg"><a class="back-bg-4" id="bg-4">Default</a></li>
            </ul>
        </div>
        <div class="ec-tools-sidebar-content">
            <h3>Full Screen mode</h3>
            <div class="ec-fullscreen-mode">
                <div class="ec-fullscreen-switch">
                    <div class="ec-fullscreen-btn">Mode</div>
                    <div class="ec-fullscreen-on">On</div>
                    <div class="ec-fullscreen-off">Off</div>
                </div>
            </div>
        </div>
        <div class="ec-tools-sidebar-content">
            <h3>Dark mode</h3>
            <div class="ec-change-mode">
                <div class="ec-mode-switch">
                    <div class="ec-mode-btn">Mode</div>
                    <div class="ec-mode-on">On</div>
                    <div class="ec-mode-off">Off</div>
                </div>
            </div>
        </div>
        <div class="ec-tools-sidebar-content">
            <h3>RTL mode</h3>
            <div class="ec-change-rtl">
                <div class="ec-rtl-switch">
                    <div class="ec-rtl-btn">Rtl</div>
                    <div class="ec-rtl-on">On</div>
                    <div class="ec-rtl-off">Off</div>
                </div>
            </div>
        </div>
        <div class="ec-tools-sidebar-content">
            <h3>Language</h3>
            <div class="ec-change-lang">
                <span id="google_translate_element"></span>
            </div>
        </div>
        <div class="ec-tools-sidebar-content">
            <h3>Clear local storage</h3>
            <a class="clear-cach" href="javascript:void(0)">Clear Cache & Default</a>
        </div>
    </div>
</div>
<!-- Modal end -->
<!-- Vendor JS -->
<script src="{% static 'webapp/assets/js/vendor/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'webapp/assets/js/vendor/popper.min.js' %}"></script>
<script src="{% static 'webapp/assets/js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'webapp/assets/js/vendor/jquery-migrate-3.3.0.min.js' %}"></script>
<script src="{% static 'webapp/assets/js/vendor/modernizr-3.11.2.min.js' %}"></script>

<!--Plugins JS-->
<script src="{% static 'webapp/assets/js/plugins/swiper-bundle.min.js' %}"></script>
<script src="{% static 'webapp/assets/js/plugins/countdownTimer.min.js' %}"></script>
<script src="{% static 'webapp/assets/js/plugins/scrollup.js' %}"></script>
<script src="{% static 'webapp/assets/js/plugins/jquery.zoom.min.js' %}"></script>
<script src="{% static 'webapp/assets/js/plugins/slick.min.js' %}"></script>
<script src="{% static 'webapp/assets/js/plugins/infiniteslidev2.js' %}"></script>
<script src="{% static 'webapp/assets/js/vendor/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'webapp/assets/js/plugins/jquery.sticky-sidebar.js' %}"></script>
<!-- Google translate Js -->
<script src="{% static 'webapp/assets/js/vendor/google-translate.js' %}"></script>
<script>
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
    }
</script>
<script>
    $(document).ready(function (){
        $('#payment_method').on('change', function (){
            if($('#payment_method option:selected').val() ===  "VNPAY"){
                if($('.bank-code').hasClass('d-none')){
                    $('.bank-code').removeClass('d-none');
                }
            }
            else{
                $('.bank-code').addClass('d-none');
            }
        })
    })
</script>
<script>
    function updateSelect(selectId, data, selectedValue) {
        let select = $('#' + selectId);
        select.empty();
        // Thêm tùy chọn mặc định
        select.append($('<option>', {
            value: '',
            text: 'Choose...'
        }));

        // Thêm các lựa chọn từ API
        data.forEach(item => {
            select.append($('<option>', {
                value: item.id,
                text: item.displayName,
                selected: item.id === selectedValue
            }));
        });
    }

    function loadLocations(type, parentId = '', selectedValue = '') {
        $.ajax({
            url: '{% url 'get_locations' %}',
            type: 'GET',
            data: {type: type, parentId: parentId},
            success: function (data) {
                updateSelect(type, data, selectedValue);
            }
        });
    }

    $(document).ready(function () {
        // Giả sử `profile` là đối tượng chứa các thông tin đã lưu, nhận từ Django context
        let profile = {
            city: '{{ profile.city }}',
            district: '{{ profile.district }}',
            ward: '{{ profile.ward }}'
        };

        // Tải thông tin ban đầu cho mỗi select box
        loadLocations('city', '', profile.city);
        loadLocations('district', profile.city, profile.district);
        loadLocations('ward', profile.district, profile.ward);

        // Cập nhật các select box phụ thuộc khi người dùng thay đổi lựa chọn
        $('#city').on('change', function () {
            loadLocations('district', $(this).val(), profile.district);
        });

        $('#district').on('change', function () {
            loadLocations('ward', $(this).val(), profile.ward);
        });
    });

</script>
<!-- Main Js -->
<script src="{% static 'webapp/assets/js/vendor/index.js' %}"></script>
<script src="{% static 'webapp/assets/js/main.js' %}"></script>
</body>
</html>



                     

